@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@700&display=swap");

body {
  background-color: #edede9;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #023e8a;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 2px 2px 10px #666;
}

footer {
  background-color: #023e8a;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 2px 2px 10px #666;
  padding: 1em;
  margin-top: 2rem;
}

h1 {
  font-family: "Alegreya SC", serif;
  font-size: 1.5rem;
  margin: 0.15rem;
}
h2 {
  font-size: 1rem;
  border-bottom: 1px solid #999;
  margin-bottom: 0.5rem;
  text-align: center;
}

main ul {
  border-bottom: 1px solid #999;
  margin-bottom: 0.5rem;
}
footer p {
  color: white;
  text-align: center;
}

.portrait img {
  margin: 1em 1em 1em 2em;
  max-width: 97%;
}

#wdd230_content ul li {
  line-height: 150%;
}

header h1 {
  grid-column: 1/3;
  color: white;
  padding: 0.5rem;
  text-align: center;
  margin-top: -1.5rem;
}

#wdd230_content {
  align-items: center;
  width: 40%;
  margin: 0 auto;
  padding: 2em;
  background-color: white;
  box-shadow: 2px 2px 10px #666;
}

.date_last_updated p {
  color: yellow;
}

.info {
  font-style: italic;
  font-size: 80%;
}
