@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");

body {
  background-color: #edede9;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  background-color: #023e8a;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 2px 2px 10px #666;
}

footer {
  background-color: #023e8a;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 2px 2px 10px #666;
  padding: 1em;
}

footer p {
  color: white;
  text-align: center;
}

.portrait img {
  width: 50%;
  margin: 1em 1em 1em 2em;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 2px 2px 10px #666;
  max-width: 97%;
}

#wdd230_content ul li {
  line-height: 150%;
}

header h1 {
  grid-column: 2 / 5;
  color: white;
}

#wdd230_content {
  align-items: center;
  width: 40%;
  margin: 0 auto;
  padding: 2em;
  background-color: white;
  box-shadow: 2px 2px 10px #666;
}

.date_last_updated p {
  color: yellow;
}

.info {
  font-style: italic;
  font-size: 80%;
}
