body {
  font-size: 14px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  background-image: url("../images/background.png");
}

h1 {
  font-family: "Volkhov", serif;
  border-bottom: 2px solid black;
  padding: 0.8rem;
}

footer {
  border-top: 2px solid black;
  padding: 0.8rem;
}

p {
  padding: 0.75rem;
}
