/* 64rem is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
  nav {
    background-color: var(--primary-color);
    margin-bottom: 20px;
  }
  nav button {
    display: none;
  }
  nav ul#primaryNav {
    display: flex;
    justify-items: center;
  }

  nav ul li a {
    border: none;
    font-size: 1rem;
    color: var(--accent1-color);
  }

  nav ul li a:hover {
    background-color: var(--secondary-color);
  }

  nav ul li.active a {
    background-color: var(--secondary-color);
  }

  .social img {
    width: 40%;
    height: auto;
  }

  .logo img {
    width: 100%;
  }
  .headings h1 {
    font-size: 3rem;
  }

  .m {
    font-size: 1.5rem;
  }

  #join,
  #event,
  #weather {
    display: flex;
  }
  date {
    margin: auto;
    margin-bottom: 10px;
  }
} /* end large */
