/* 64rem is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
  nav {
    background-color: var(--primary-color);
    /* margin-bottom: 20px;*/
    grid-area: 1 / 2 / 2 / 3;
  }
  nav button {
    display: none;
  }
  nav ul#primaryNav {
    display: flex;
    justify-items: center;
  }

  nav ul li a {
    border: none;
    font-size: 1rem;
    color: var(--accent1-color);
  }

  nav ul li a:hover {
    background-color: var(--secondary-color);
  }

  nav ul li.active a {
    background-color: var(--secondary-color);
  }

  .social {
    grid-area: 1 / 3 / 2 / 4;
  }

  .social img {
    width: 15%;
  }
  header {
    max-width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 1fr 0.15fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .logo {
    grid-area: 1 / 1 / 2 / 2;
  }
  .logo img {
    width: 100%;
  }
  .headings h1 {
    font-size: 3rem;
  }

  .m {
    font-size: 1.5rem;
  }

  span#currentDate {
    margin: auto;
    grid-area: 2 / 1 / 3 / 4;
    font-size: 1rem;
  }
  main {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .hero {
    grid-area: 1 / 2 / 3 / 3;
  }

  .spotLights {
    grid-area: 1 / 3 / 4 / 4;
  }
  .footerLogo img {
    display: flex;
    justify-self: flex-start;
  }
  .spotLight3 {
    display: block;
    align-items: center;
    /* height: 8rem;
    margin: 10px;*/
  }

  .join {
    grid-area: 3 / 1 / 4 / 2;
  }
  .news {
    grid-area: 3 / 2 / 4 / 3;
  }
  .event {
    grid-area: 1 / 1 / 2 / 2;
  }
  .weather {
    grid-area: 2 / 1 / 3 / 2;
  }
  .weatherImage {
    float: none;
    text-align: center;
  }
  img#weathericon {
    margin: 0 auto;
    width: 300px;
  }
  .temperature {
    font-size: 42px;
    margin: 0 auto;
    text-align: center;
    margin-top: -4rem;
  }
  .windSpeed,
  .windChill,
  .description {
    font-size: 28px;
    margin: 0 auto;
    text-align: center;
  }

  .description {
    margin-top: 1rem;
    padding: 1rem;
  }
  .discover_content {
    grid-area: 1 / 1 / 4 / 4;
  }
  form label.top {
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
    max-width: 40rem;
  }
  .mLevels {
    top: 300px;
    right: 50px;
    width: 50%;
  }

  /********   DIRECTORY PAGE    **********/
  .directory_content {
    grid-area: 1 / 1 / 4 / 4;
    width: 100%;
  }
  .directory {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 5px;
  }
  .listView {
    display: grid;
  }

  .listView p {
    display: grid;
  }

  .cardView {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
  }
  .listView p {
    font-size: 100%;
  }
  .listView em {
    font-size: 100%;
  }
} /* end large */
