/*35rem is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
  main {
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .hero {
    grid-area: 1 / 1 / 2 / 3;
  }
  .news {
    grid-area: 2 / 1 / 3 / 3;
  }
  .spotLights {
    grid-area: 3 / 1 / 4 / 3;
  }
  .spotLight1 {
    margin: 10px;
  }
  .spotLight2 {
    margin: 10px;
  }
  .join {
    display: grid;
    grid-area: 4 / 1 / 5 / 3;
    background-color: var(--primary-color);
  }
  .event {
    display: grid;
    grid-area: 5 / 1 / 6 / 2;
  }

  .weather {
    grid-area: 5 / 2 / 6 / 3;
  }

  .description {
    margin-left: 0;
    font-size: 20px;
  }
  .discover_content {
    font-size: 90%;
  }
  .discover_content {
    grid-area: 1 / 1 / 2 / 3;
  }
  .discover_content p {
    margin-bottom: 10px;
  }
  article {
    margin-bottom: 100px;
  }
  .discover_content picture img:hover {
    filter: grayscale(100%);
    box-shadow: 0 0 50px #333;
  }
  tr:first-child th {
    font-size: 100%;
  }

  th,
  td {
    font-size: 100%;
  }

  th {
    font-size: 100%;
  }

  /* -------------------- FORM ---------------*/
  .mLevels {
    display: block;
    margin: 2rem 0;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 0.5rem 2%;
    width: 40%;
    position: absolute;
    top: 210px;
    right: 50px;
  }

  /********   DIRECTORY PAGE    **********/
  .directory {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 5px;
  }

  .listView {
    display: grid;
  }

  .listView section {
    display: flex;
    flex-direction: row;
  }

  .cardView {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
  }
  .listView p {
    width: 25%;
    border-left: 1px solid #bbb;
    font-size: 65%;
  }
  .listView em {
    width: 25%;
    font-size: 65%;
  }
  .directory_content h1 {
    margin: 1rem;
    padding: 0.35rem;
    text-align: left;
  }
}
