/*35rem is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
  #spotLights {
    flex-direction: row;
  }
  #spotLight1 {
    margin: 10px;
  }
  #spotLight2 {
    margin: 10px;
  }
  #join {
    display: block;
    width: 95%;
    height: 8rem;
    background-color: var(--accent2-color);
    align-items: center;
    margin: 0 auto;
    
  }
  #event {
    width: 63%;
    height: 8rem;
    display: inline-flex;
    background-color: var(--accent2-color);
    align-items: center;
    margin: 0;
    margin-left: 20px;
    margin-top: 5px;
  }

  #weather {
    width: 30%;
    height: 8rem;
    background-color: var(--accent2-color);
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
} /* end medium */
