:root {
  /* change the values below to your colors from your palette */
  --primary-color: black;
  --secondary-color: #c4ae3d;
  --accent1-color: white;
  --accent2-color: #888098;
}

.primary {
  background-color: var(--primary-color);
  color: var(--accent1-color);
  justify-content: center;
  text-align: c;
  text-align: c;
  width: 1;
}
.secondary {
  background-color: var(--secondary-color);
  text-align: c;
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2 {
  background-color: var(--accent2-color);
}

body {
  background-color: var(--primary-color);
  padding: 5px 25px;
  font-size: 16px;
  margin: 0;
  /* max-width: fit-content; */
}
td {
  height: 100px;
  width: 150px;
  text-align: center;
}
header {
  display: block;
  align-items: center;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
}
header h1 {
  color: var(--accent1-color);
  font-size: 2rem;
  margin-top: -3rem;
  text-align: center;
  grid-column: 2/3;
  margin: o;
}
footer {
  background-color: var(--primary-color);
  color: var(--accent1-color);
  text-align: center;
}

nav {
  background-color: var(--accent2-color);
  grid-column: 3;
  line-height: em;
  text-align: center;
  font-size: 1.3rem;
  border: 1px solid var(--secondary-color);
}

nav a {
  color: var(--accent2-color);
  text-decoration: none;
}

nav a:hover {
  background-color: var(--secondary-color);
}
#active a {
  background-color: var(--secondary-color);
  font-weight: bold;
}
#active {
  background-color: var(--secondary-color);
}

li:hover {
  background-color: var(--secondary-color);
}

nav a:link,
nav a:visited {
  color: var(--accent1-color);
}

nav ul {
  list-style: none; /* removes the bullets! */
  display: block;
  margin: 0;
  height: 100%;
  padding: 0;
}

#lesson3_content {
  align-items: center;
  margin: 0 auto;
  background-color: white;
  box-shadow: 2px 2px 10px #666;
  max-width: 900px;
  border: 1px solid var(--secondary-color);
}

#logo img {
  width: 200px;
  margin: auto;
  display: block;
}

main img {
  width: 200px;
}
main {
  padding: 0.5rem;
}
